//--------------------------------------------------------
// Awards
//--------------------------------------------------------

.awards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.award {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 4px;
  position: relative;
}

.award--red {
  // border: 4px solid #F22E3E;
  background-color: #F22E3E;
  color: #fff;

  .award__image-wrapper {
    background-color: #F22E3E;
  }
}

.award--green {
  // border: 4px solid #0ed0a3;
  background-color: #0ed0a3;
  color: #fff;

  .award__image-wrapper {
    background-color: #0ed0a3;
  }
}

.award__sponsor-image {
  width: 40px;
  height: 40px;
  border: 2px solid #F22E3E;
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: -20px;
}

.award__background__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 70px;
  font-weight: 900;
  height: 100px;
}

.award__background {
  width: 100%;
  height: 100%;
  text-align: center;
  fill: #fff;
  opacity: .5;
  z-index: -2;
  margin-top: 6px;
}

.award__image-wrapper {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 4px;
  height: 100px;
  align-items: center;
  overflow: hidden;
}

.award__image {
  font-size: 60px;
  height: 60px;
  width: 60px;
  padding-top: 20px;
  z-index: 4;
}

.award__details {
  padding: 10px;
}

.award__title {
  display: inline-block; 
  margin-right: 10px;
  font-weight: 700;
  font-size: inherit;
}


//--------------------------------------------------------
// Media queries 
//--------------------------------------------------------

@media (max-width: 480px) {
}
