//--------------------------------------------------------
// Player - Detailed
//--------------------------------------------------------

.player--detailed {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  color: #fff;
  height: 130px;

  &:last-child {
    flex-basis: 100%;
  }

  .stat__title,
  .stat__subtitle {
    color: #fff;
  }

  .player__name {
    display: block;
    position: relative;
    width: 200px;
    font-size: 24px;
    padding: 10px;
  }

  .player__details {
    z-index: 40;
    position: absolute;
    text-align: left;
    padding: 4px 0 2px 0;
    font-size: 14px;
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: right;

  }

  .player__headshot-container {
    display: block;
    position: absolute;
    height: 100px;
    width: auto;
    bottom: 0;
    left: 0;
  }

  .stats {
    display: block;
    position: relative;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .player--detailed {

    display: block;

    .player__headshot {
      height: 100%;
      width: auto;
    }

    .player__headshot-container {
      height: 80px;
      left: -24px;
    }

    .stats {
      width: 100%;
      padding-left: 60px;
    }

    .stat {
      padding: 6px;
    }

    .stat__title {
      font-size: 9px;
    }

    .stat__subtitle {
      font-size: 9px;
    }

    .stat__value {
      font-size: 24px;
    }

    .player__name {
      text-align: left;
      font-size: 18px;
      padding: 2px;
    }
  }
}

// @media (max-width: 420px) {
//   .player--detailed {
//   }
// }
