.hero {
  position: relative;
  height: auto;
}

.hero__td {
  background-color: #F22E3E !important;
  padding: 0 !important;
}

.profile__short-name {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 0;
}

.hero__image {
  z-index: 1;
  position: relative;
  width: 60%;
  height: auto;
  margin-top: 10px;
}

.player-table {
  font-size: 14px;

  h3 {
    font-weight: 700;
  }

  .epi-stats {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    outline: 1px solid transparent;
    min-width: 310px;
  }

  .epi-stats__metric {
    margin: auto;
    background-color: #ededed;
    padding: 3px;
    border-radius: 5px;
  }

  .epi-stats__metric :last-child {
    width: auto;
  }

  .epi-stats--total {
    border: 2px solid #F22E3E;
  }

  .epi-stats {
    margin-bottom: 10px;
    padding: 6px;
  }
}


/*--------------------------------------------------------*/
/* Media Queries
/*--------------------------------------------------------*/

@media (max-width: 420px) {
  .profile__section--epis,
  .award__p {
    font-size: 12px;
  }

  .player-table {
    font-size: 12px;
  
    // Remove first column on mobile
    tr td:first-child {
      display: none;
    }

    td {
      width: 50% !important;
      overflow: hidden;
      padding: 4px;
    }

    .epi-stats {
      display: block;
      min-width: auto;
    }

    .epi-stats__metric {
      display: inline-block;
      width: auto;
    }
  }
}
