.toolytip__trigger {
  width: 18px;
  height: 18px;
  background-color: #F23D5E;
  border-radius: 100%;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  padding-left: 2px;
}

.toolytip {
  text-transform: none !important;
  font-size: 16px !important;
  letter-spacing: normal !important;
  font-weight: 400 !important;
}
