//--------------------------------------------------------
// Da basics
//--------------------------------------------------------

$red-bright: #F22E3E;

h1 {
  padding: 0;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 14px;
  margin-bottom: 8px;
}

strong {
  font-weight: 700;
}

//--------------------------------------------------------
// Awards
//--------------------------------------------------------

.award {
  padding: 6px 14px;
  margin: 4px 0;
  border-radius: 10px;
  display: flex;

  &:before {
    content: "🏆";
    position: relative;
    display: inline-block;
    margin-right: 4px;
    font-size: 16px;
  }
}

.award--clues {
  background-color: rgb(229, 248, 254);
}

.award--pacecase {
  background-color: rgb(255, 209, 255); 
}

// .award {
//   border-radius: 10px;
//   padding: 10px;
//   height: 200px;
//   width: 50%;
//   box-shadow: 0px -12px 34px rgba(0, 0, 0, 0.2);
//   box-shadow: 0 2.8px 2.2px rgba(0,139,237,.034), 0 6.7px 5.3px rgba(0,139,237,.048), 0 12.5px 10px rgba(0,139,237,.06), 0 22.3px 17.9px rgba(0,139,237,.072), 0 41.8px 33.4px rgba(0,139,237,.086), 0 100px 80px rgba(0,139,237,.12);
// }

// .award__image-wrapper {
//   width: 100%;
//   display: flex;
//   height: 80px;
//   padding-top: 6px;
//   border-radius: 10px;
//   text-align: center;
//   margin-bottom: 10px;
//   justify-content: center;
// }

// .award__image {
//   font-size: 44px;
//   align-items: center;
//   display: flex;
// }

// .award__details {
//   text-align: center;
// }

// .award__name {
//   font-weight: 700;
//   font-size: 20px;
// }

// .award__p {
//   font-size: 12px;
//   line-height: 1.4em;
// }

// .award--clues {
//   background-color: rgb(255, 209, 255); 

//   .award__image-wrapper {
//     background-image: linear-gradient(to top, rgb(235 205 251) 0%, #a6c1ee 100%);
//     box-shadow: inset 0 0 12px rgb(25 67 222 / 48%);
//   }
// }

// .award--pasecase {
//   background-color: rgb(209, 252, 255); 

//   .award__image-wrapper {
//     background-image: linear-gradient(to top, rgb(137, 220, 241) 0%, #5090ff 100%);
//     box-shadow: inset 0 0 12px rgba(23, 145, 190, 0.48);
//   }
// }


//--------------------------------------------------------
// Episode Stats
//--------------------------------------------------------

.epi-stats {
  display: flex;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  right: 0;
  top: 10px;
  font-size: 20px;
  font-weight: 800;
}

.epi-stats__metric {
  margin: 0 6px;

  span {
    padding: 0 2px;
  }
}


//--------------------------------------------------------
// Hero & main content
//--------------------------------------------------------

.hero {
  height: 320px;
}

.hero__image {
  display: block;
  margin: auto;
  margin-top: 30px;
}

.main-content {
  background-color: white;
  position: relative;
  overflow: hidden;
  margin-top: -110px;
  padding: 20px;
  padding-top: 120px;
}

.main-content__inner {
  margin: auto;
  max-width: 600px;
}


//--------------------------------------------------------
// Nameplate
//--------------------------------------------------------

.profile__nameplate {
  border: 4px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px -12px 34px rgba(0, 0, 0, 0.2);
  padding: 0 10px 20px 10px;
  margin: -60px auto 0 auto;
  width: 100%;
  max-width: 600px;
  clear: both;
  z-index: 3;
  position: relative;
  color: #3b383e;
  text-align: center;
  line-height: 1.4em;
  font-size: 20px;
}


//--------------------------------------------------------
// Profile
//--------------------------------------------------------

.profile__headline {
  color: #3b383e;
  margin: 20px 0 10px 0;
}

.profile__details {
  display: table;
  font-size: 14px;
  line-height: 1.4em;
  width: 100%;
  border-collapse: collapse;
}

.profile__tr {
  display: table-row;
  vertical-align: middle;
}

.profile__td {
  display: table-cell;
  padding: 8px;
  vertical-align: middle;

  span {
    margin-left: 4px;
    display: inline-block;
  }
}

.profile__td__logo {
  vertical-align: middle;
}

.profile__label {
  text-align: right;
  width: 30%;
}

.profile__tag {
  background-color: #e7e7e7;
  border-radius: 40px;
  padding: 4px 11px;
  font-size: 12px;
  color: #6c6666;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 4px;
}

.profile__section {
  border: 1px solid #d9d9d9;
  max-width: 600px;
  margin: auto;
  margin-top: -1px;
  padding: 20px 0;
  border-width: 0 0 1px 0;
  position: relative;

  &:last-child {
    border-bottom-width: 0;
  }
}

.profile__section--epis {
  font-size: 14px;
  line-height: 1.4em;
}

.episode__key {
  text-transform: capitalize;
}

.profile__short-name {
  fill: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: .9;

  text {
    font-weight: 900;
  }
}

.profile__name {
  font-size: 40px;
}

.profile__info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile__section {
  color: #3b383e;
}

.profile__p {
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 10px;
  color: #3b383e;
}


//--------------------------------------------------------
// Player Status
//--------------------------------------------------------

.player-status {
  vertical-align: middle;
  display: inline-block;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.player-status__dot {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 6px;
}

.player-status__dot--active {
  background-color: #00ff7d;
}

.player-status__dot--dismissed,
.player-status__dot--eliminated,
.player-status__dot--sidelined,
.player-status__dot--self-eliminated {
  background-color: #ff0000;
}

.player-status__dot--undefined,
.player-status__dot--unannounced {
  background-color: #d9d9d9;
}

.player-status__label {
   display: inline-block;
   vertical-align: middle;
}


//--------------------------------------------------------
// 2 large social buttons
// Pulled from last site, should be BEMed better 
//--------------------------------------------------------

.profile__cta {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 3px 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border: 4px solid $red-bright;
  color: $red-bright;
  margin-right: 6px;
  margin-top: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.profile__cta__text {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  margin-top: -4px;
  letter-spacing: .5px;
}

.profile__logo {
  width: 28px;
  color: #fff;
  fill: $red-bright;
  width: 24px;
  height: 24px;
  display: flex;
  display: inline-block;
  vertical-align: middle;
  color: $red-bright;
  margin-top: -3px;

  path {
    fill: $red-bright;
    color: $red-bright;
  }
}

.profile__cta:hover {
  color: #fff;
  background-color: $red-bright;
  transition: 0.3s;

  path {
    fill: #fff;
    color: #fff;
    transition: 0.3s;
  }
}

.social-icon :active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}


//--------------------------------------------------------
// Stats
//--------------------------------------------------------

.stats {
  padding: 0;
  clear: both;
}

.stats__row {
  display: flex;
  align-items: center;
}

.stat {
  display: block;
  width: 25%;
  padding: 14px;
  float: left;
  height: 102px;
  position: relative;

  &:after {
    background-color: #bbbbbb;
    width: 1px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    content: " ";
  }
  &:last-child:after {
    display: none;
  }
}

.stat__title {
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  color: #676767;
  text-transform: uppercase;
}

.stat__value {
  font-size: 54px;
  font-weight: 400;
  width: 100%;
  display: block;
  text-align: center;
}


//--------------------------------------------------------
// Profile List
//--------------------------------------------------------

.profile__list {
  margin-bottom: 10px;
}

.profile__list__item {
  padding: 6px 0;
  text-indent: -16px;
  padding-left: 20px;
  
  &:before {
    content: '\2022';
    margin-right: 8px;
  }
}


//--------------------------------------------------------
// Media queries 
//--------------------------------------------------------

@media (max-width: 580px) {

  .hero {
    height: 240px
  }

  .hero__image {
    height: 200px;
    width: auto;
  }

  .profile__nameplate {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .profile__td {
    width: 60%;

    &.profile__label {
      width: 40%;
    }

    a {
      word-break: break-all;
    }
  }

  .profile__label img {
    display: none;
  }

  .stat__title {
    height: 23px;
    font-size: 11px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
