/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*--------------------------------------------------------*/
/* General styles
/*--------------------------------------------------------*/

$red-bright: #F22E3E;

body {
  background-color: #F23D5E;
  background-image: linear-gradient(90deg, #F23D5E 0%, #F22E3E 52%, #b91a24 90%);
}

h1 {
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 16px;
}

.players__header {
  padding: 10px 6px;
  color: #fff;
  overflow: hidden;
}

.players__header__update-notice,
.players__header__previous-season {
  display: block;
}

.players__header__message {
  font-size: 16px;
  margin-bottom: 10px;
}

.players__header__update-notice {
  font-size: 12px;
  margin-bottom: 30px;
}

.previous-season {
  color: #fff;
  padding: 10px;
}


/*--------------------------------------------------------*/
/* Button
/*--------------------------------------------------------*/

.button {
  padding: 4px 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  font-family: 'Schibsted Grotesk', sans-serif;
  font-weight: 500;
  border: 2px solid #fff;
  background-color: transparent;

  svg {
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
    height: 14px;
    width: 14px;
    margin-top: -3px;
  }
  
  path {
    fill: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $red-bright;
    transition: 0.3s;

    path {
      fill: $red-bright;
      transition: 0.3s;
    }
  }
}

.button--reorder {
  float: right;
  clear: both;
  display: block;
}


/*--------------------------------------------------------*/
/* Player
/*--------------------------------------------------------*/

.players {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

.player {
  flex: 1 0 calc(33.33% - 20px);
  box-sizing: border-box;
  margin: 6px;
  border: 4px solid #fff;
  border-radius: 10px;
  padding-bottom: 0;
  position: relative;
  height: 160px;
  color: rgb(255, 255, 255, .2);
  font-weight: 900;
  overflow: hidden;

  &:last-child {
    flex-basis: calc(33.33% - 20px); /* Adjust the width as desired */
    flex-grow: 0;
  }
}

.player--eliminated {
  opacity: .6;
}

.player__headshot-container {
  text-align: center;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  height: 90%;
  width: 100%;
}

.player__headshot {
  display: block; 
  z-index: 2;
  position: relative;
  margin: auto;
  height: 100%;
  width: auto;
}

.player__info {
  position: relative;
  position: absolute;
  bottom: 2px;
  z-index: 3;
  color: #730202;
  width: 100%;
}

.player__link {
  z-index: 100;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
}

.player__name {
  position: absolute;
  font-size: 40px;
  font-family: 'Schibsted Grotesk', sans-serif;
  color: white;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: 900;
}


//--------------------------------------------------------
// Player -- line variation
//--------------------------------------------------------

.player--line {
  width: 100%;
  flex-basis: 48% !important;
  height: 64px;
  overflow: hidden;
  margin: 0;
  margin-top: -2px;
  border-width: 2px 0 2px 0;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.1);
  vertical-align: middle;
  width: 48%;
  border-width: 0;
  border-bottom: 2px solid #fff;
  margin-left: 1%;
  margin-right: 1%;
}

.player__headshot-container--line {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
}

.player__headshot--line {
  height: auto;
  width: 100%
}

.player__name--line {
  vertical-align: middle;
  position: relative;
  font-size: 26px;
  color: white;
  display: inline-block;
}

.player__link--line {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 4px;
  padding: 20px;
}

// Lol this is all a mess, fix it later
.toggle__option {
  svg {
    margin: 0;
    margin-top: -1px;
  }
}

.toggle.button:hover {
  background-color: transparent;

  .toggle__option svg path {
    fill: white;
  }

  .toggle__option--active svg path {
    fill: $red-bright;
  }
}

.toggle {
  padding-left: 0;
  padding-right: 0;
  height: 30px;

  &:active
  &:hover {
    background-color: transparent;

    .toggle__option {
      background-color: transparent;
    
      svg path {
        fill: white;
      }
    }

    .toggle__option--active {
      background-color: white;
    
      svg path {
        fill: $red-bright
      }
    }

  }
}

.toggle__option {
  padding: 7px;
}

.toggle__option--active {
  background-color: #fff;
  border-radius: 20px;
  
  svg path {
    fill: $red-bright;
  }
}
// End of toggle mess

//--------------------------------------------------------
// Media queries 
//--------------------------------------------------------

@media (max-width: 840px) {
  .player {
    flex: 1 0 calc(50% - 20px);

    &:last-child {
      flex-basis: calc(50% - 20px);
    }
  }
  .player--line {
    flex-basis: 100% !important;
  }
}

@media (max-width: 540px) {
  .player {
    flex: 1 0 calc(50% - 20px);

    &:last-child {
      flex-basis: calc(50% - 20px);
    }
  }

  .player__headshot {
    height: auto;
    width: 100%;
  }

  .player__headshot-container {
    height: auto;
    width: 100%;
    overflow: hidden;
    display: block;
    padding-top: 15px;
  }
}

@media (max-width: 420px) {
  .player {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 20px);
  }

  .player--line {
    height: 64px !important;
  }

  .player__headshot {
    height: 100%;
    width: auto;
  }

  .player__headshot-container {
    position: absolute;
    bottom: 0;
    height: 90%;
    width: 100%;
  }

  .player__name--line {
    font-size: 21px;
  }

  .player__link--line {
    font-size: 12px;
    right: 0;
    top: 6px;
  }

  .player__headshot {
    width: 100%;
    height: auto;
  }
  
  .player {
    height: 94px;
  }

  .player__headshot-container {
    padding-top: 0;
  }
}


@media print {
  .players__header,
  .previous-season {
    display: none;
  }

  .player__headshot-container,
  .player__headshot {
    width: 120px;
    height: auto;
    margin-left: -10px;
  }

  .players {
    display: block;
  }

  .player {
    float: left;
    display: block;
    border: 1px solid #000;
    width: 25%;
    padding: 0;
    margin: 0;
    height: 130px;
  }

  .player__name {
    color: #000;
    font-size: 20px;
  }
}
