@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Schibsted+Grotesk:wght@900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*--------------------------------------------------------*/
/* General styles
/*--------------------------------------------------------*/

body {
  background-color: #F23D5E;
  background-image: linear-gradient(119deg, #F23D5E 0%, #F22E3E 52%, #730202 90%);
}

h1 {
  font-weight: 600;
  font-family: 'Schibsted Grotesk', sans-serif;
  color: #fff;
  padding: 10px;
  font-size: 34px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.update-notice,
.previous-season {
  padding: 10px;
  color: #fff;
  display: block;
}

.previous-season {
  margin-bottom: 10px;
}

.update-notice {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
}

/*--------------------------------------------------------*/
/* Player
/*--------------------------------------------------------*/

.players {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

.player {
  flex: 1 0 250px;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 10px;
  border: 4px solid #fff;
  border-radius: 10px;
  padding-bottom: 0;
  position: relative;
  height: 160px;
  color: rgb(255, 255, 255, .2);
}

.player--eliminated {
  opacity: .6;
}

.player__headshot-container {
  text-align: center;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  height: 90%;
  width: 100%;
}

.player__headshot {
  display: block; 
  z-index: 2;
  position: relative;
  margin: auto;
  height: 100%;
  width: auto;
}

.player__info {
  position: relative;
  position: absolute;
  bottom: 2px;
  z-index: 3;
  color: #730202;
  width: 100%;
}

.player__link {
  z-index: 100;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
}

.player__name {
  position: absolute;
  font-size: 40px;
  font-family: 'Schibsted Grotesk', sans-serif;
  color: white;
  top: 0;
  width: 100%;
  text-align: center;
}


/*--------------------------------------------------------*/
/* Media Queries
/*--------------------------------------------------------*/
