/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*--------------------------------------------------------*/
/* General styles
/*--------------------------------------------------------*/

body{
  background-color: #1c1817;
  font-size: 14px;
  line-height: 1.4em;
}

h1 {
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 10px;
}

.header {
  color: #fff;
}

.header__headline {}

.header__notice {}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 16px;
}


//--------------------------------------------------------
// Player
//--------------------------------------------------------

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.player {
  border: 2px solid #BE9759;

  &:hover {
    border: 2px solid #fff;
    cursor: pointer;
  }
}

.player__headshot--container {
  width: 100%;
}

.player__headshot {
  width: 100%;
}

.player__name {
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
}

.player__details {
  color: #fff;
}

.previous-season {
  color: #fff;
  margin: 20px 0;
  display: block;
}


//--------------------------------------------------------
// Accordion
//--------------------------------------------------------

.player-accordion--eliminated {
  opacity: .3;
}

.player-accordion__summary {
  color: #fff;
}

.player-accordion__details {
  padding: 0;
  color: #fff;
}

.player-accordion__link {
  color: #759eff;
  margin-left: 4px;
  cursor: pointer;
  text-transform: capitalize;
}

.player-accordion__list-item {
  display: flex;
  margin-bottom: 4px;
}

// Tags
.player-accordion__tags {
  margin-top: 10px;
}

// profile__tag is in util & this was easiest for styles
// todo: fix one day?
.player-tag.profile__tag {
  background-color: #fff;
  color: #000;
  font-size: 11px;
  padding: 2px 10px;
}

.player-accordion__tags__blurb {
  font-size: 10px;
  display: block;
}


//--------------------------------------------------------
// Media queries 
//--------------------------------------------------------

@media (max-width: 840px) {
}

@media (max-width: 540px) {
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
}


//--------------------------------------------------------
// Printout
//--------------------------------------------------------

@media print {
}
